.filesPanel{
  border: 1px solid black;
}

.toolBar{
  display: grid;
  grid-template-columns: auto 30px auto 1fr 5px auto 20px;
  justify-items: end;
  align-items: center;
  margin: 10px;
}

.fileList{
  border: 1px solid black;
  margin: 10px;
}

.listItemOdd{
  background-color: #ffffff;
}

.listItemEven{
  background-color: #f7f7f7;
}

.listItemOdd:hover, 
.listItemEven:hover{
  background-color: lightskyblue;
  cursor: default;
}

.listDeleteIcon{
  min-width: 25px;
  width: 25px;
  cursor: pointer;
}

.imgCnt{
  font-size: large;
  padding-top: 1px;
}