.previewImagePanel{
  border: 1px solid black;
}

.toolBar{
  display: grid;
  grid-template-columns: auto 5px auto 1fr auto 10px;
  justify-items: end;
  align-items: center;
  margin: 10px;
  height: 60px;
}

.imageScale{
  font-size: large;
  padding-top: 1px;
}

.imageNode{
  border: 1px solid black;
  margin: 10px;
  overflow: auto;
  height: 400px;
}