.app {
  text-align: center;
}

.defaultFont{
  font-family: '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"';
}

.settingPanel{
  margin: 10px;
}

.imagePanel{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-content: center;
  margin: 10px;
}

.loadingBlock{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.loadingBackground{
  background: black;
  opacity: .3;
  width: inherit;
  height: inherit;
}

.loadingAnimation{ /* diable windows and show loading animate */
  position: fixed;
  border: 24px solid #f3f3f3;
  border-top: 24px solid lightskyblue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  z-index: 120;
  opacity: 0.9;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}